* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

html {
  font-family: monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgba(7, 227, 7, 0.662);
  font-size: 5rem;
  font-weight: 900;
}
